.month {
  margin: 16px 0;
}

.month .title {
  display: flex;
  align-items: center;
  height: 96px;
  padding: 32px;
  border-radius: 16px;
  background: #92D2E4;
  cursor: pointer;
}

.month[open] .title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.month .title h4 {
  font-size: 1.3em;
  color: #0E5C7E;
  font-weight: bold;
}

.month .title p {
  font-weight: bold;
  color: #474747;
}

.month h4, .month h5 {
  flex: 2;
}

.month p {
  text-align: center;
  flex: 1;
}

.measures {
  background: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.measures .row {
  display: flex;
  padding: 24px 32px;
}


.measures .row h5, .measures .row p {
  font-size: 1.0em;
  font-weight: lighter;
}